<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

    <test name="Test">

        <groups>
            <run>
                <include name="Regression"/>
            </run>
        </groups>

        <classes>
            <class name="Tecting_demoPac.DemoE2E"/>
            <class name="Tecting_demoPac.Saucedemo"/>
            <class name="Tecting_demoPac.googledemo"/>
            <class name="Tecting_demoPac.googledemo1"/>
            <class name="Tecting_demoPac.googledemo2"/>
            <class name="Tecting_demoPac.googledemo3"/>
        </classes>

    </test>

</suite>
